/*
Syntax error: Invalid CSS after "        @i": expected "{", was "@include backgr..."
        on line 51 of /Users/shoaib/Dropbox/Sites/projects/caritas/app/stylesheets/dashboard.scss

46:         color: #aaa;
47:       }
48:     }
49: 
50:     #project{ height: 80px; 
51:         @include background-image(linear-gradient(left top, white, #dddddd));
52:     }
53:     
54: 
55:     /*This yields a linear gradient spanning from the upper left corner to the lower right corner*/
56: }

Backtrace:
/Users/shoaib/Dropbox/Sites/projects/caritas/app/stylesheets/dashboard.scss:51
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:898:in `expected'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:841:in `expected'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:836:in `tok!'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:360:in `block'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:872:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:380:in `block_child'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:361:in `block'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:417:in `block in declaration_or_ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:872:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:872:in `rethrow'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:418:in `declaration_or_ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:380:in `block_child'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:361:in `block'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:355:in `ruleset'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:379:in `block_child'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:372:in `block_contents'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/scss/parser.rb:26:in `parse'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/engine.rb:319:in `_to_tree'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/engine.rb:291:in `_render'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/engine.rb:239:in `block in render'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/util.rb:298:in `silence_sass_warnings'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/engine.rb:239:in `render'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:319:in `update_stylesheet'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:181:in `block (2 levels) in update_stylesheets'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `each'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:175:in `block in update_stylesheets'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `each'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/compiler.rb:173:in `update_stylesheets'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin.rb:81:in `update_stylesheets'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin.rb:54:in `check_for_updates'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/sass-3.1.2/lib/sass/plugin/rack.rb:51:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/warden-1.0.4/lib/warden/manager.rb:35:in `block in call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/warden-1.0.4/lib/warden/manager.rb:34:in `catch'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/warden-1.0.4/lib/warden/manager.rb:34:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/best_standards_support.rb:17:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/head.rb:14:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/rack-1.2.3/lib/rack/methodoverride.rb:24:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/params_parser.rb:21:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/flash.rb:182:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/session/abstract_store.rb:149:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/cookies.rb:302:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:32:in `block in call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/query_cache.rb:28:in `cache'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:12:in `cache'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activerecord-3.0.7/lib/active_record/query_cache.rb:31:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activerecord-3.0.7/lib/active_record/connection_adapters/abstract/connection_pool.rb:354:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:46:in `block in call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activesupport-3.0.7/lib/active_support/callbacks.rb:416:in `_run_call_callbacks'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/callbacks.rb:44:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/rack-1.2.3/lib/rack/sendfile.rb:107:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/remote_ip.rb:48:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/show_exceptions.rb:47:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/railties-3.0.7/lib/rails/rack/logger.rb:13:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/rack-1.2.3/lib/rack/runtime.rb:17:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/activesupport-3.0.7/lib/active_support/cache/strategy/local_cache.rb:72:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/rack-1.2.3/lib/rack/lock.rb:11:in `block in call'
<internal:prelude>:10:in `synchronize'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/rack-1.2.3/lib/rack/lock.rb:11:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/actionpack-3.0.7/lib/action_dispatch/middleware/static.rb:30:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/hoptoad_notifier-2.4.11/lib/hoptoad_notifier/user_informer.rb:12:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/railties-3.0.7/lib/rails/application.rb:168:in `call'
/Users/shoaib/.rvm/gems/ruby-1.9.2-p180@caritas/gems/railties-3.0.7/lib/rails/application.rb:77:in `method_missing'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:146:in `handle'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:99:in `rescue in block (2 levels) in start'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:96:in `block (2 levels) in start'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:86:in `each'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:86:in `block in start'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:66:in `loop'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:66:in `start'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/lib/nack/server.rb:13:in `run'
/Users/shoaib/Library/Application Support/Pow/Versions/0.2.2/node_modules/nack/bin/nack_worker:4:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"        @i\": expected \"{\", was \"@include backgr...\"\A         on line 51 of /Users/shoaib/Dropbox/Sites/projects/caritas/app/stylesheets/dashboard.scss\A \A 46:         color: #aaa;\A 47:       }\A 48:     }\A 49: \A 50:     #project{ height: 80px; \A 51:         @include background-image(linear-gradient(left top, white, #dddddd));\A 52:     }\A 53:     \A 54: \A 55:     /*This yields a linear gradient spanning from the upper left corner to the lower right corner*/\A 56: }"; }
