= render :partial => "shared/nav"

.block-forms.block
  .content
    %h2.title=t('advance_search')
    .inner
      =render :partial => 'form', :locals => {:search_object => @event_search}
      / results
      - unless @event_search.results.nil?
        #events
          %h3=t('results') + " (#{@event_search.results.size})"
          -events_search_description(@event_search.tokens)
          =render :partial => "event", :collection => @event_search.results
