= render :partial => "shared/nav"

.block-forms.block
  .content
    %h2.title=t('advance_search')
    .inner
      =render :partial => 'form', :locals => {:search_object => @project_search}
      / results
      - unless @project_search.results.nil?
        #projects
          %h3=t('results') + " (#{@project_search.results.size})"
          -projects_search_description(@project_search.tokens)
          =render :partial => "project", :collection => @project_search.results
