%div{'data-role' => 'footer'}
  %div{ 'data-role' => 'navbar' }
    %ul
      %li
        %a{ :href=>"#{projects_path}", :rel => 'external' }= t(:projects)
      %li
        %a{ :href=>"#{sectors_path}",  :rel => 'external' }= t(:sectors)
      %li
        %a{ :href=>"#{partners_path}", :class => 'ui-btn-active' }= t(:partners)