= render :partial => "nav"

- content_for :sidebar do
  .block
    -if (can? :create,  Partner)
      .addlink= link_to t(:create_a_new_partner), new_partner_path, :class => 'button'

= render @partners
