%h1 Listing partners

%table
  %tr
    %th
    %th
    %th

  - @partners.each do |partner|
    %tr
      %td= link_to 'Show', partner
      %td= link_to 'Edit', edit_partner_path(partner)
      %td= link_to 'Destroy', partner, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Partner', new_partner_path
