= render :partial => "shared/nav"

.block
  .content
    %h2.title
      =t(:new_article)
    =link_to t('jump_to_project'), '', :anchor => "project"
    .inner
      .form
        = render 'form'

=link_to t('jump_to_project')

#project=render @project