= javascript_include_tag 'jquery-ui.min'
= javascript_include_tag 'vendor/jquery.slideto.min'

= render :partial => "shared/nav"

#new_article.block
  .content
    %h2.title
      =t(:new_article)
    .inner
      .action
        %button{:id => "jump_to_project", :class => "button"}=t('jump_to_project')
      .clear
      %br
      .form
        = render 'form'

.action
  %button{:id => "jump_to_article", :class => "button"}=t('jump_to_article')
.clear
%br

=render @project

:javascript
  $(document).ready(function(){
    $('a.icon.show').zoombox({width: 960, height: 600, overflow: true});

    $("#jump_to_project").bind('click', function(){
      $(".project.block").slideto({
        //highlight_duration: 'fast'
      });
    });

    $("#jump_to_article").bind('click', function(){
      $("#new_article.block").slideto({
        //highlight_duration: 'fast'
      });
    });
  });
