%a{:href => project_path(event.project_id, :anchor => "event_#{event.id}") }
  #event
    %span.description
      =event.title
      =truncate(event.description, :lenght => 30)
    %span.age
      (
      =time_ago_in_words(event.created_at)
      )
