-content_for :head do

  %script{:src => "https://www.google.com/jsapi", :type => "text/javascript"}

  :javascript
    google.load('visualization', '1', {'packages': ['geochart']});
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var countries = JSON.parse('#{@countries_attributes.to_json}')
      var data = new google.visualization.DataTable();

      data.addRows(countries.length);
      data.addColumn('string', 'Country');
      data.addColumn('number', 'Projects');

      jQuery.each(countries, function(index, country) {
        data.setValue(index, 0, country.name);
        data.setValue(0, 1, country.total_projects);
      });

      var options = {};

      var container = document.getElementById('map_canvas');
      var geochart = new google.visualization.GeoChart(container);
      geochart.draw(data, options);
    };

= stylesheet_link_tag 'compiled/dashboard.css', :media => 'screen, projection'

= render :partial => "shared/nav"

.block-forms.block
  .dashboard
    #content.content
      .inner
        #map_canvas{ :style => "margin: 0 auto; width:650px; height:390px;" }

        #paginator
          = paginate @events, :remote => true
        .clear
        %form
          .columns.wat-cf
            .column.left
              / recent events
              %h3=t('events_since_login')
              #events
                =render :partial => "event", :collection => @events

            .column.right
              / recent projects
              %h3=t('projects_changed_since_login')
              - unless @projects.blank?
                #projects
                  =render :partial => "project", :collection => @projects
