= stylesheet_link_tag 'compiled/dashboard.css', :media => 'screen, projection'

= render :partial => "shared/nav"

.block-forms.block
  .dashboard
    #content.content
      %h2=t('dashboard')
      .inner
        #left
          / recent projects
          %h3=t('projects_changed_since_login')
          - if @projects.blank?
            #empty=t('none') 
          - @projects.each do |project_id, events|
            #project
              %h4=events.first.project.title
              .description=events.first.project.description
              %br
              .location
                %strong=t('location')
                =events.first.project.location.name
              %br
              .partners
                %strong=t('partners')
                =events.first.project.partners.map(&:name).join(', ')
              %br
              .sectors
                %strong=t('Sectors')
                =events.first.project.sectors.map(&:name).join(', ')

        #right
          / recent events
          %h3=t('events_since_login')
          - @projects.each do |project_id, events|
            %h4=events.first.project.title
            -events.each do |event|
              %a{:href => project_event_path(project_id, event) }
                #event
                  %span.description
                    =event.title
                    =truncate(event.description, :lenght => 30)
                  %span.age
                    (
                    =time_ago_in_words(event.created_at)
                    )
          #section_footer
            - if @has_more_events
              =link_to "more ...", events_feed_path, :class => "right action"