= render :partial => "shared/nav"

.block-forms.block
  .content
    %h2=t('Dashboard')
    .inner
      %h3 Activity since last login:
      .project
        %h1 Project Title
        .events
          %ul
            %li event 1
            %li event 2
            %li event 3                        