= stylesheet_link_tag 'compiled/dashboard.css', :media => 'screen, projection'

= render :partial => "shared/nav"

.block-forms.block
  .dashboard
    #content.content
      .inner
        #paginator
          = paginate @events, :remote => true
        .clear
        #left
          / recent events
          %h3=t('events_since_login')
          #events
            =render :partial => "event", :collection => @events

        #right
          / recent projects
          %h3=t('projects_changed_since_login')
          - if @projects.blank?
            #empty=t('none') 
          -else
            #projects
              =render :partial => "project", :collection => @projects
