:javascript
  var map;


  function initialize() {

    var pathname = "#{url_for(:action => controller.action_name)}"
    var myLatlng = new google.maps.LatLng("#{@project.location.geom.envelope.centroid.y}", "#{@project.location.geom.envelope.centroid.x}");

    var useragent = navigator.userAgent;
    var controlVisible = true;
    if (useragent.indexOf('iPhone') != -1 || useragent.indexOf('Android') != -1 ) 
    {
      controlVisible = false;
    }
  
    var mapOptions = {
      zoom: 6,
      center: myLatlng,
      mapTypeId: google.maps.MapTypeId.TERRAIN,
      panControl: false,
      zoomControl: controlVisible,
      streetViewControl: false,
      zoomControlOptions: {
            style: google.maps.ZoomControlStyle.SMALL
      }
    }
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    //map = new google.maps.Map($('#map_canvas')[0], mapOptions);
    
    var resetControlDiv = document.createElement('DIV');
    var resetControl = new ResetControl(resetControlDiv, map, myLatlng);

    resetControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.TOP_RIGHT].push(resetControlDiv);

    var fullScreenControlDiv = document.createElement('DIV');
    var fullScreenControl = new ToggleFullScreen(fullScreenControlDiv, map);

    fullScreenControlDiv.index = 1;
    map.controls[google.maps.ControlPosition.LEFT_TOP].push(fullScreenControlDiv);

    $.getJSON(pathname+'.json', function(geojson) {
      province = new GeoJSON(geojson, { strokeColor: "#444", strokeWeight:1, strokeOpacity: 0.75 });
      province.setMap(map);
    });

    var markerCluster = null;
    var markers = [];
    $.getJSON(pathname+'/events.json', function(geojson) {
      $.each(geojson.features, function(i, feature) {
        var event_marker = new GeoJSON(feature.geometry, null);
        
        //event_marker.setMap(map);
        var content_string = renderJSONEvent(feature.properties);
        var info_window = new google.maps.InfoWindow({content: content_string});
        google.maps.event.addListener(event_marker, 'click', function() {
          info_window.open(map, event_marker);
          jQuery(function($){
              $('a.zoombox').zoombox();
          });
        });
        markers.push(event_marker);
      });
      markerCluster = new MarkerClusterer(map, markers, {zoomOnClick: false});
    });


  }

  function loadScript() {
    var script = document.createElement("script");
    script.type = "text/javascript";
    script.src = "http://maps.google.com/maps/api/js?sensor=false&callback=initialize";
    document.body.appendChild(script);
  }

  window.onload = loadScript;

  // ==================== Handle WebSocket messages ====================
  $(document).ready(function() {

    ws.onmessage = function(e) {
      feature = JSON.parse(e.data);
      if (feature.properties.project_id == "#{@project.id}") {
        console.log(feature);
        marker_opts = { animation: google.maps.Animation.DROP }
        var event_marker = new GeoJSON(feature.geometry, marker_opts);
        event_marker.setMap(map);
        var content_string = renderJSONEvent(feature.properties);
        var info_window = new google.maps.InfoWindow({content: content_string});
        google.maps.event.addListener(event_marker, 'click', function() {
          info_window.open(map, event_marker);
          jQuery(function($){
              $('a.zoombox').zoombox();
          });
        });
      }
    }
  }); // document ready
