:javascript
  // Set URL of your WebSocketMain.swf here:
  WEB_SOCKET_SWF_LOCATION = "/javascripts/vendor/web-socket-js/WebSocketMain.swf";
  // Set this to dump debug message from Flash to console.log:
  WEB_SOCKET_DEBUG = #{WebsocketConfig[:socket_debug]};

  var ws;

  function initWebsocket() {
    // Connect to Web Socket.
    ws = new WebSocket("ws://#{WebsocketConfig[:socket_host]}:#{WebsocketConfig[:socket_port]}/");

    // Set event handlers.
    ws.onopen = function() {
      console.log("onopen");
    };
    ws.onclose = function() {
      console.log("onclose");
    };
    ws.onerror = function() {
      console.log("onerror");
    };
  }

  $(document).ready(function() {
    initWebsocket();
  });