/ Sectors

#header{'data-role' => 'header'}
  %h1= t(:sectors)
  =link_to t(:new), new_sector_path, 'data-icon' => 'plus', :class => 'ui-btn-right'

#content{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    - @sectors.each do |sector|
      %li
        = link_to sector.name, sector
        = link_to t(:edit), edit_sector_path(sector), 'data-icon' => 'gear'

= render 'footer'