%div{'data-role' => 'footer'}
  %div{ 'data-role' => 'navbar'}
    %ul
      %li=mobile_footer_link(:projects)
      %li=mobile_footer_link(:sectors)
      %li=mobile_footer_link(:partners)
      %li=mobile_footer_link(:locations)
