= stylesheet_link_tag 'http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.css'
= javascript_include_tag :defaults

:javascript
  $(document).bind("mobileinit", function(){
    $.extend(  $.mobile , {
      ajaxFormsEnabled : false
    });
  });

= javascript_include_tag 'http://code.jquery.com/mobile/1.0a3/jquery.mobile-1.0a3.min.js'
= csrf_meta_tag
