/*width = 960*/
  
@import "blueprint";
@import "blueprint/colors";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/unstyled-link";
@import "compass/typography/links/link-colors";
@import "compass/css3";
@import "compass/utilities";

.dashboard {
    @include container;
    a {
      @include unstyled-link; 
      /*link-colors($normal, $hover, $active, $visited, $focus)*/
      @include link-colors(#006, #0cc, #c0c, #888, #cc0); }

    #content {
        @include column(24);
        #left { @include column(11); }
        #right {
          border-left: 1px solid #eee;
          padding-left: 20px;
          @include column(11, true); }}

    #event {
      @include background-image(linear-gradient(#eee, #eee));
      @include border-radius(5px);
      padding: 4px;
      margin: 20px 0px;
      .description{ @include column(9); }
      .age {
        font-size: 80%!important;
        text-align: right;
        padding-right: 2px;
        color: #aaa;}}

    #project {
      @include background-image(linear-gradient(#eee, #eee));
      @include border-radius(5px);
      padding: 4px;
      margin: 20px 0px;}

    #section_footer {
      padding: 4px;
      margin: 20px 0px;
      a { @include link-colors(#006, #0cc, #c0c, #888, #cc0); } 
      .action { font-weight: bold; }}

    .right{ float:right }
}