$blueprint_grid_columns: 16;
$blueprint_grid_width: 60px;
  
@import "blueprint";
@import "blueprint/colors";
@import "compass/typography/links/hover-link";
@import "compass/typography/links/unstyled-link";
@import "compass/typography/links/link-colors";
@import "compass/css3";
@import "compass/utilities";

.dashboard {
    @include container;
    a {
      @include unstyled-link; 
      /*link-colors($normal, $hover, $active, $visited, $focus)*/
      @include link-colors(#006, #0cc, #c0c, #888, #cc0); }

    #content {
        @include column(16);
        #left { @include column(6); }
        #right {
          border-left: 1px solid #eee;
          padding-left: 20px;
          @include column(7, true); }
    }

    #event{
      @include border-radius(5px);
      background-color: #eee;
      margin-top: 2px;
      margin-bottom: 2px;
      padding-top: 5px;
      padding-left: 4px;
      height: 40px;
      padding-right: 4px!important;

      .description{
        @include column(5);
      }
      .age {
        @include column(2, true);
        float:right!important;
        font-size: 80%;
        text-align: right;
        color: #aaa;
      }
    }
}