=content_for :head do
  =stylesheet_link_tag 'map'
  =javascript_include_tag 'http://maps.google.com/maps/api/js?sensor=false'

= render 'js/new-map_js'

%div{ 'data-role' => 'header', 'data-position' => 'fixed' }
  =link_to t(:cancel), project_path(@project), :rel => 'external', 'data-icon' => 'delete'
  %h1
    = t(:new_Event)
  = link_to t(:save), '#', :rel => 'external', 'data-icon' => 'check', :id => 'save_button'

%div{ 'data-role' => 'content' }
  #map_canvas
  =link_to t(:use_current_location), nil, :class => 'use_current_location'
  =render 'form'

  :javascript
    $('#save_button').bind('click', function() {
      $('form.new_event').submit();
    });
