/ = render :partial => "shared/nav"

#box
  #block-login.block
    %h2 Event Details

    .content.location
      %h1= @event.title

      %p
        %b Address:
        = @event.address
      %p
        %b Project:
        =link_to @event.project.title, project_path(@event.project), :target => "_blank"
      %p
        %b Description:
        = raw(RDiscount.new(@event.description).to_html) rescue nil

      / = link_to 'Edit', edit_project_event_path(@project, @event)
      / \|
      / = link_to 'Back', project_events_path(@project)
