- content_for :nav do
  %li.first=link_to t(:projects), projects_url
  %li=link_to t(:sectors), sectors_url
  %li=link_to t(:partners), partners_url
  %li=link_to t(:locations), locations_url
.block
  .content
    %h2.title=t(:Settings)
    .inner
      .actions-bar.wat-cf
        .actions
          =render 'shared/user_settings'
