.project.block
  .content
    = model_title_links(project)
    .inner
      %h2 Recent Events
      %ul.list
        = render :partial => 'events/event', :collection => project.events.desc, :locals => {:project=>project}

      -if (can? :create,  Event)
        .actions-bar.wat-cf
          = link_to t(:add_a_new_event), new_project_event_path(project), :class => 'button'
