%div{ 'data-role' => 'header', 'data-position' => 'fixed' }
  = link_to t(:back), projects_path, :rel => 'external', 'data-icon' => 'delete'
  %h1
    = t(:editing_project)
  = link_to t(:save), '#', :rel => 'external', 'data-icon' => 'check', :id => 'save_button'
  
%div{ 'data-role' => 'content' }
  = render 'form'

  :javascript
    $('#save_button').bind('click', function() {
      $('form.edit_project').submit();
    });