/ Projects

#header{'data-role' => 'header'}
  %h1
    = t(:projects)
  /=link_to t(:new), new_project_path, 'data-icon' => 'plus', :class => 'ui-btn-right'

#content{'data-role' => 'content'}
  %ul{'data-role' => 'listview'}
    = render @projects

= render 'shared/footer'
