#header{data: {role: "header"}}
  %h1= t :projects
#content{data: {role: "content"}}
  %ul{data: {role: "listview"}}
    - @projects.each do |project|
      %li= link_to project.title, project, :rel => "external"