%div{ 'data-role' => 'header', 'data-position' => 'fixed' }
  =link_to t(:cancel), projects_path, :rel => 'external', 'data-icon' => 'delete'
  %h1
    = t(:new_project)
  = link_to t(:save), '#', :rel => 'external', 'data-icon' => 'check', :id => 'save_button'

%div{ 'data-role' => 'content' }
  =render 'form'

  :javascript
    $('#save_button').bind('click', function() {
      $('form.new_project').submit();
    });