- content_for :head do
  = stylesheet_link_tag 'map'
  = javascript_include_tag 'vendor/GeoJSON', 'map-helpers'
  = render 'js/show-map_js'

#header{"data-role" => "header"}
  =link_to t(:projects), projects_path, :rel => "external", "data-icon" => "arrow-l"
  %h1= @project.title
  -if (can? :create, Event)
    =link_to t(:new), new_project_event_path(@project), :rel => "external", "data-icon" => "plus", :class => "ui-btn-right"

#content{"data-role" => "content", :style => "height:100%"}
  #map_canvas{:style => "width:100%; height:100%"}
