spacialdb: &spacialdb
  adapter: postgresql
  username: <username>
  password: <password>
  host: beta.spacialdb.com
  port: 9999

local: &local
  database: caratas_test
  host: localhost
  port: 5432
  username: <username>
  password:
  template: template_postgis

development:
  <<: *spacialdb
  database: spacialdb0_<username>

test:
  <<: *local