spacialdb: &spacialdb
  adapter: postgis
  schema_search_path: "public,postgis"
  username: kashif
  host: localhost
  postgis_extension: true
  port: 5432
  encoding: utf8
  pool: 5

local: &local
  database: fieldcamp_test
  postgis_extension: true

development:
  <<: *spacialdb
  database: fieldcamp_development

test:
  <<: *local