= stylesheet_link_tag 'compiled/dashboard.css', :media => 'screen, projection'

.block-forms.block
  .dashboard
    #content.content
      %h2=t('activity')
      .inner
        = render :partial => 'event', :collection => @events
        .actions-bar.wat-cf
          .actions
            = will_paginate @events