/* Override here any style defined by web-app-theme */
#container {
  min-width: 1250px;
}

/*#main{ width: 960px }*/
.inner .columns .column {
  width: 48%;
}

.inner .columns .left {
  float: left;
}

.inner .columns .right {
  float: right;
}

input.button {
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:bold;
  cursor:pointer;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}

input.button {
  width:auto;
  overflow:visible;
  padding:4px 10px 3px 7px; /* IE6 */
}
input.button[type] {
  padding:5px 10px 5px 7px; /* Firefox */
  line-height:17px; /* Safari */
}

input.button[type] {
  padding:4px 10px 3px 7px; /* IE7 */
}

input.button img {
  margin:0 3px -3px 0 !important;
  padding:0;
  border:none;
  width:16px;
  height:16px;
}

input.button:hover {
  background-color:#dedede;
}

input.button:active {
  background-color:#e5e5e5;
}

/*.flash .alert {
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
}
*/

.flash .alert {
  color: #28485e;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
  border: 1px solid #8a9daa;
  background: #b8d1e2 url("themes/default/images/messages/notice.png") no-repeat 10px center;
}

input.checkbox {
  vertical-align: bottom;
  position: relative;
  top: 4px;
  *overflow: hidden;
}

.infowindow_updated_at{
  font-size 0.75em;
  color: #666;
}
.project-description{
  font-size: 1.3em!important;
}

ul.list li .item {
  margin-left: 5px!important;
}

.item ul li{
  border: 0px;
}
.item ol li{
  border: 0px;
}

span .locale_links{
  padding-top: 2px;
  padding-right: 2px;
  float: right;
  color: #999;
}
span .locale_links a{
  color: #aaa;
}

span.setting_label{
  color: #222;
  display:block;
  float:left;
  margin:0 7px 0 0;
  background-color: #eee;
  border:1px solid #bfbfbf;
  font-size: 1em;
  line-height: 1.3em;
  font-weight:bold;
  padding:5px 10px 6px 7px;
  text-decoration: none;
}

.actions-bar.wat-cf .actions ul.user_settings li{
  list-style-type: none;
}

ul li.current_sort{
  display: block;
  padding: 10px 15px;
  font-weight: bold;
  margin-left:20px;
}

li.wmd-button.wmd-code-button{
  display: none;
}

.markdown_preview{
  color: #7F7F7F;
  background: #eee;
  margin-top: 4px;
}

#main .block .content p{
  font-size: 14px;
}

.inner li {
  margin-left: 15px;
}

#description-button-bar, #content-button-bar li{ margin-left: 0px; }
ul.wmd-button-row{ margin: 8px; }
li.wmd-button{ margin: 4px; }
li.wmd-spacer{ margin: 4px; }

.child_locations span.location{
  padding-left: 10px;
  padding-right: 10px;
}

.child_locations td span.has_project a{
  color: #111;
}

.child_locations td span.location a:hover{
  background-color: #FBFFED;
}
.child_locations td span.has_project a:hover{
  background-color: #EBFFBA;
}

.child_locations a {
  color: #7F7F7F;
  text-decoration: none;
}

.content.location ul li {
  margin-left: 15px;
}

.content.location ol li {
  margin-left: 15px;
}

.content.location h2{
  color:#111!important;
  background-color: #fff!important;
  padding-left: 0px!important;
  font-size: 18px;
}

#notice {
  color: green;
}

/* Form error messages */
.form div.field_with_errors label.label {
  display: inline;
}

.form .field_with_errors .error {
  color: red;
}


/* Form error messages */
#error_explanation {
  color: #666;
  border: 1px solid #ffbbbb;
  background-color: #ffdddd;
  margin-bottom: 20px;
  padding-bottom: 10px;
}


div.field_with_errors input {
  color: red;
  border: 1px solid #ffbbbb!important;
}

div.field_with_errors label {
  color: red!important;
  border: none;
}

/*#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}*/

#error_explanation h2 {
  /*text-align: left;*/
  /*font-weight: bold;*/
  /*padding: 5px 5px 5px 15px;*/
  font-size: 14px!important;
  /*margin: -7px;*/
  /*margin-bottom: 0px;*/
  /*background-color: #c00;*/
  color: #c00;
}

#error_explanation ul li {
  color: #666;
  font-size: 12px;
  list-style: square;
  margin-left: 30px;
  padding-bottom: 5px;
}

#sidebar {
  #stats{ }
}

.event{
  background-color: #DDD;
}

%span.right { text-align: right;}

.jqui-multiselect { width: 410px }

a.button.add_nested_fields{ color:darkgreen }
a.button.remove_nested_fields{ color:darkred }


.breadcrumb {
  background-color: #e6e6e6;
  -moz-border-radius-bottomleft: 9px;
  -webkit-border-bottom-left-radius: 9px;
  border-bottom-left-radius: 9px;
  -moz-border-radius-bottomright: 9px;
  -webkit-border-bottom-right-radius: 9px;
  border-bottom-right-radius: 9px
}
.breadcrumb ul {
  padding-left: 28px;
  height: 20px;
  padding-bottom: 15px;
  padding-top: 0px;
  list-style-type: none
}
.breadcrumb ul li {
  color: #777;
  display: block;
  padding-top: 10px;
  padding-left: 17px;
  margin-right: 15px;
  background: url("../../images/web-app-theme/breadcrumb.png") no-repeat 0px 12px;
  float: left
}
.breadcrumb ul li a {
  text-decoration: none;
  color: #777
}
.breadcrumb ul li.first {
  padding-left: 15px;
  background: none
}
.breadcrumb ul li.active {
  color: #a4a4a4
}
